.notice-view-wrapper { /* 전체 */
    color: #87746B;
    font-weight: bold;
    width: 1200px;
    margin: auto;
}

.notice-view-title {
    text-align: center;
    font-size: 30px;
    height: 100px;
    display: flex;
    justify-content: start;   
    margin-top: 60px;
}

.notice-view-date {
    font-size: 18px;
    width: 1200px;
    height: 50px;
    border-bottom: 3px solid #B9A49B;
text-align: left;
}

.notice-view-text-box{
    width: 1000px;
    height: 500px;
    border: 3px solid #B9A49B;
    border-radius: 50px;
    margin: auto;
    margin-top: 40px;
}

.notice-view-text {
    width: 900px;
    height: 400px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.notice-button-box{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.notice-button1 {
    color: #096249;
    font-size: 20px;
    font-weight: bold;
    background-color: #8FC4B3;
    border: 1px;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    
}

.notice-button2 {
    color: #096249;
    font-size: 20px;
    font-weight: bold;
    background-color: #8FC4B3;
    border: 1px;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    margin-left: 30px;
}


.notice-button3 {
    color: #096249;
    font-size: 20px;
    font-weight: bold;
    background-color: #8FC4B3;
    border: 1px;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    margin-left: 30px;
}

.notice-image{
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}