.notice-table {
    width: 70%; /*  테이블 길이 */
    margin: 0px auto;
    text-align: center;
    border-spacing: 10;
    font-size: 16px;
}

/* .notice-table-header-column {
    width: 1500px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50px;
    color: #87746B ;
    font-size: 20px;
    padding: 10px 5px;
    font-weight: bold;
    display: flex;
} */

.notice-table-column {
    width: 1500px;
    height: 70px;
    border: 1px solid #B9A49B;
    border-radius: 50px;
    /* border-spacing: 10; */
    /* padding: 0; */
    color: #87746B ;
    font-size: 16px;
    /* padding: 10px 5px; */
    font-weight: normal;
    display: flex;
}

.notice-table-row:hover {
    background-color: #E9E0DD;
    cursor: pointer;
}

.notice-col1 {
    width: 140px;
    height: 70px;
    margin-left: 50px;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    text-align: center;
}

.notice-col2 {
    width: 1000px;
    height: 70px;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    text-align: center;
}

.notice-col3 {
    width: 260px;
    height: 70px;
    margin-top: 25px;
    margin-right: 50px;
    /* margin-bottom: 25px; */
    text-align: center;
}

.notice-header-col1 {
    width: 140px;
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    /* margin-bottom: 25px; */
    text-align: center;
}

.notice-header-col2 {
    width: 1000px;
    height: 70px;
    margin-top: 20px;
    /* margin-bottom: 25px; */
    text-align: center;
}

.notice-header-col3 {
    width: 260px;
    height: 70px;
    margin-top: 20px;
    margin-right: 50px;
    /* margin-bottom: 25px; */
    text-align: center;
}