.notice-wrapper{
    width: 1000px;
    margin: auto;
    margin-top: 60px;
}

th{
    /* width: 500px; */
    height: 70px;
    border: 1px solid #B9A49B;
    color: #87746B;
    font-size: 20px;
    font-weight: bold;
}

.notice-th1{
    width: 140px;
    border-radius: 50px 0 0 50px;
    border-right: 0px;
}

.notice-th2{
    width: 600px;
    border-right: 0px;
    border-left: 0px;
}
.notice-th3{
    width: 260px;
    border-radius: 0 50px 50px 0;
    border-left: 0px ;
}

.notice-title-box{
    width: 1000px;
    height: 70px;
    border: 1px solid #B9A49B ;
    border-radius: 50px;
    margin-top: 32px;
}

/* .notice-title{
    background-color: pink;
} */

.notice-title-col1{

}

.notice-title-col2{

}

..notice-title-col3{

}