.notice-table {
    width: 70%; /*  테이블 길이 */
    margin: 0px auto;
    text-align: center;
    border-spacing: 10;
    border-collapse: separate;
    border-spacing: 0;
    
}

th{
    width: 1500px;
    height: 70px;
    border: 1px solid #B9A49B;
    color: #87746B;
    font-weight: bold;

}

th:first-child{
    border-radius: 50px 0 0 50px;
    border-right: 0px;
}
th:nth-child(2){
    border-right: 0px;
    border-left: 0px;
}
th:last-child{
    border-radius: 0 50px 50px 0;
    border-left: 0px ;
}


/* .notice-table-header-column {
    width: 1500px;
    height: 70px;
    color: #87746B ;
    font-size: 20px;
    padding: 10px 5px;
    font-weight: bold;
    border-radius: 10%;
} */

.notice-table-column  {
    width: 1500px;
    height: 70px;
    border: 1px solid #B9A49B;
    border-radius: 50px;
    color: #87746B ;
    font-size: 16px;
    font-weight: normal;
    display: flex;
}

/* .notice-table-row {
    
    background-color: #E9E0DD;
    cursor: pointer;

} */

.notice-table-row:hover {
    background-color: #E9E0DD;
    margin-top: 15px;
    cursor: pointer;
}



.notice-col1 {
    width: 140px;
    height: 70px;
    margin-left: 50px;
    margin-top: 25px;
    text-align: center;
}

.notice-col2 {
    width: 1000px;
    height: 70px;
    margin-top: 25px;
    text-align: center;
}

.notice-col3 {
    width: 260px;
    height: 70px;
    margin-top: 25px;
    margin-right: 50px;
    text-align: center;
}

.notice-header-col1 {
    width: 140px;
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}

.notice-header-col2 {
    width: 1000px;
    height: 70px;
    margin-top: 20px;
    text-align: center;
}

.notice-header-col3 {
    width: 260px;
    height: 70px;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
}