.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 12.5rem;
    width: 37.5rem;
    background: #fff;
    padding-bottom: 1.875rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.563rem;
    width: 100%;
    margin-top: 1.875rem;
}

.text {
    color: #03532e;
    font-size: 3rem;
    font-weight: 700;
}

.underline {
    width: 3.813rem;
    height: 0.375rem;
    background: #03532e;
    border-radius: 0.563rem;
}

.inputs {
    margin-top: 3.438rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 30rem;
    height: 5rem;
    background: #eaeaee;
    border-radius: 0.375rem;
}

.input img {
    margin: 0rem 1.25rem;
}

.input input {
    height: 3.125rem;
    width: 25rem;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1.063rem;

}

.forgot-password {
    padding-left: 0rem;
    margin-top: 0.625rem;
    color: #797979;
    font-size: 1.125rem;

}

.forgot-password span {
    text-align: center;
    align-items: center;
    color: #03532e;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: auto;
    margin: 2.5rem;
    justify-content: center
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.875rem;
    height: 3.688rem;
    color: #fff;
    background: #03532e;
    border-radius: 3.125rem;
    font-size: 1.188rem;
    font-weight: 700;
    cursor: pointer;

}



.gray {
    background: #EAEAEA;
    color: #676767;
}