.tutorintro {
    display: flex;
    margin-top: 0.625rem;
    border: 0.125rem solid #8FC4B3;
    height: 12.5rem;
    width: 87.5rem;
    border-radius: 3.125rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;

}

.introName {
    margin: 00px 3.125rem 3.125rem 3.125rem;
    width: 80rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: #8FC4B3;
    font-weight: bold;
}

.tutor {
    margin-left: 5.625rem;

    font-size: 1.313rem;

    color: #8FC4B3;
    font-weight: bold;
    font-size: 1.125rem;

}

.intorContent {
    margin-left: 31.25rem;
    font-weight: bold;
    font-size: 1.125rem;

    color: #8FC4B3;
}