
thead {
    font-weight: bold;
    color: #87746B;
    background: #fff;
    font-size: 1rem;
}

table {
    border-collapse: separate;
    border-spacing: 0rem 1.875rem;
    width: 93.75rem;
    margin-right: auto;
    margin-left: auto;
}

tbody {
    font-size: 1.125;
    color: #B9A49B;
    text-align: center;
}

th, td {
    border: 0.125rem solid #B9A49B;
    width: 93.75rem;
    height: 4.375rem;
    border-radius: 3.125rem;
}

th{
    width: 93.75rem;
    height: 4.375rem;
    color: #87746B;
    font-weight: bold;
}

th:first-child{
    border-radius: 3.125rem 0 0 3.125rem;
    border-right: 0rem;
}

th:nth-child(2){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

th:nth-child(3){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

th:nth-child(4){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

th:last-child{
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem ;
    
}

td:first-child{
    border-radius: 3.125rem 0 0 3.125rem;
    border-right: 0rem;
}

td:nth-child(2){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

td:nth-child(3){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

td:nth-child(4){
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

td:last-child{
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem ;
}

.community-list-row{
    cursor: pointer;
}


.community-regist-button {
    background-color: #fff;
    color: #41A487;
    border-radius: 3.125rem;
    cursor: pointer;
    width: 15.625rem;
    height: 4.688rem;
    border: 0.125rem solid #41A487;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 3.75rem;
    margin-left: 5rem;
}


