.postingbox{
    width: 93.75rem;
    height: 68.438rem;
    margin-left: auto;
    margin-right: auto;
}

.w1400h50{
    width: 87.5rem;
    height: 3.125rem;
    display: flex;
    margin-top: 2.5rem;
}

.w1400h300{
    width: 87.5rem;
    height: 18.75rem;
    display: flex;
    margin-top: 2.5rem;
}

.w100h50{
    width: 6.25rem;
    height: 3.125rem;
    margin-top: 1.063rem;
}

.communityLabelFont{
    color: #655853;
    font-size: 1rem;
    font-weight: bold;
}

.communityTitleTextBox{
    width: 81.25rem;
    height: 3.125rem;
    border: 0.125rem solid #8FC4B3;
    border-radius: 3.125rem;
}

.communityTitleFont{
    margin-top: 0.625rem;
    margin-left: 1.875rem;
    width: 74.25rem;
    height: 2.813rem;
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
    background: transparent;
    resize: none;
    outline: none;
    border: none;
}

.w1400h100{
    width: 87.5rem;
    height: 6.25rem;
    display: flex;
    margin-top: 2.5rem;
}

.w100h300{
    width: 6.25rem;
    height: 18.75rem;
}

.w1300h300{
    width: 81.25rem;
    height: 18.75rem;
    border: 0.125rem solid #8FC4B3;
    border-radius: 3.125rem;
}

.communityContentFont{
    margin-top: 0.625rem;
    margin-left: 1.875rem;
    width: 74.25rem;
    height: 18.125rem;
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
    background: transparent;
    resize: none;
    outline: none;
    border: none;
}

.communityCategoryBox{
    display: flex;
}

.communityCategory{
    width: 13.5rem;
    height: 3.125rem;
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
    margin-top: 1rem;
    accent-color: #8FC4B3;
}

.communityKeywordFont{
    width: 9.688rem;
    height: 3.125rem;
    margin-left: 1.875rem;
    margin-top: 1.875rem;
    display: inline-block;
    color: #655853;
    font-size: 1.125rem;
    font-weight: bold;
    accent-color: #8FC4B3;
}

.w575h50{
    width: 35.938rem;
    height: 3.125rem;
    font-size: 1.125rem;
    color: #655853;
    border: 0.125rem solid #8FC4B3;
    border-radius: 3.125rem;
    font-weight: bold;
}

.submitButton{
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    border: 0.063rem solid #8FC4B3;
    background-color: #8FC4B3;
    color: #096249;
    font-size: 1.25rem;
    float: right;
    margin-right: 6.25rem;
    margin-top: 4.375rem;
    cursor: pointer;
}

.backButton{
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    border: 0.063rem solid #8FC4B3;
    background-color: #8FC4B3;
    color: #096249;
    font-size: 1.25rem;
    float: right;
    margin-right: 1.875rem;
    margin-top: 4.375rem;
    cursor: pointer;
}






