.community-main thead {
    /* 번호 제목 작성자 지역 키워드 전체 */
    font-weight: bold;
    color: #87746B;
    background: #fff;
    font-size: 1rem;
}

.community-main {
    border-collapse: separate;
    border-spacing: 0rem 1.875rem;
    width: 93.75rem;
    margin-right: auto;
    margin-left: auto;
}

.community-main tbody {
    font-size: 1.125;
    color: #B9A49B;
    text-align: center;
}

.community-main td {
    /* 내용 각 요소*/
    border: 0.125rem solid #B9A49B;
    width: 93.75rem;
    height: 4.375rem;
    border-radius: 3.125rem;
    color: #87746b;
    font-weight: 700;
}

.community-main th {
    /* 번호, 제목, 작성자, 지역, 키워드 각 요소 */
    width: 93.75rem;
    height: 4.375rem;
    color: #87746B;
    font-weight: bold;
    border: 0.188rem solid #B9A49B;
    font-size: 1.25rem;
}

.community-main th:first-child {
    border-radius: 3.125rem 0 0 3.125rem;
    border-right: 0rem;
}

.community-main th:nth-child(2) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

.community-main th:nth-child(3) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

.community-main th:nth-child(4) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

.community-main th:last-child {
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem;

}

.community-main td:first-child {
    border-radius: 3.125rem 0 0 3.125rem;
    border-right: 0rem;
}

.community-main td:nth-child(2) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.community-main td:nth-child(3) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.community-main td:nth-child(4) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.community-main td:last-child {
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem;
}

.community-list-row {
    cursor: pointer;
}

.community-list-row:hover {
    /* hover 효과 */
    background-color: #E9E0DD;
}

.community-regist-button {
    background-color: #fff;
    color: #41A487;
    border-radius: 3.125rem;
    cursor: pointer;
    width: 15.625rem;
    height: 4.688rem;
    border: 0.125rem solid #41A487;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 3.75rem;
    margin-left: 5rem;
}