.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3.125rem;
}

.communityTitleBoard {
    width: 87.5rem;
    height: 9.375rem;
    border: 0.188rem solid #CCE2DB;
    border-radius: 3.125rem;
}

.communityTitleName {
    font-size: 2.25rem;
    color: #655853;
    font-weight: bold;
    margin-left: 3.125rem;
    margin-top: 1.875rem;
}

.communityLocal {
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
    margin-right: 2.813rem;
    margin-top: 1.875rem;
    text-align: right;
}

.communityKeyword {

    color: #87746B;
    display: flex;
    border-radius: 3.125rem;
    width: 4.375rem;
    height: 1.875rem;
    background-color: #E9E0DD;
    align-items: center;
    justify-content: center;
}

.MainKeyword {
    flex-direction: row;
    justify-content: flex-start;
}

.MainKeywordDiv {
    width: 4.375rem;
    height: 1.875rem;
    background-color: #E9E0DD;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 0.625rem;
    font-size: 0.875rem;
    color: #87746B;
}

.communityKeywordDTOList1 {
    margin-left: 3.125rem;
    margin-bottom: -0.938rem;
}

.CommunityBar {
    width: 93.75rem;
    height: 6.25rem;
    color: #655853;
    font-size: 1.875rem;
    font-weight: bold;
    align-items: center;
    display: flex;
}

.CommunityStart {
    width: 93.75rem;
    border: 0.125rem solid black;
    margin-bottom: 2.5rem;
}

.communityMainKeyword3Up {
    /* ... css */
    width: 2.813rem;
    height: 1.875rem;
    font-weight: 600;
    border-radius: 3.125rem;
    background-color: #E9E0DD;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.313rem;
    color: #87746B;
}