.localSty{
    display: flex;
    align-items: center;
    margin-bottom: 2.188rem;
    justify-content: flex-end;
}

.localName{
    color: #87746B;
    font-size: 1.375rem;
    font-weight:600;
    width: 3.125rem;
    height: 1.375rem;
    margin-right: 10px;
    margin-bottom: 5px;
}

.localBar{
    width: 15.625rem;
    height: 3.125rem;
    border: 0.125rem solid #B9A49B;
    border-radius: 3.125rem;
}

.localBarText{
    color: #87746B;
    font-weight: bold;
    font-size: 1.375;
    border: none;
    resize: none;
    border-radius: 100px;
    border-color: #87746B;
    width: 12.5rem;
    margin: 0.75rem 1.563rem 0.75rem 1.563rem;
    align-items: center;
}

.categorySty{
    border: 0.188rem solid #8FC4B3;
    border-radius: 3.125rem;
    width: 93.75rem;
    height: 6.25rem;
    margin: auto;
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryName{
    width: 75rem;
    height: 1.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}