.hobbyCard {
    padding: 1rem;
    /* 24px */
    margin-left: 1.25rem;
    text-align: center;
    border-radius: 3.125rem;
    display: inline-flex;
    flex-direction: column;
    border: 0.125rem solid #8FC4B3;
    width: 21.563rem;
    height: 22.813rem;
    justify-content: space-between;
    box-sizing: border-box;

}


.hobbyImage {
    border-radius: 3.125rem;
    height: 60%;

}

.hobbyTitle {
    margin-left: 0.625rem;
    color: #41A487;
    font-size: 1.125rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-style: italic;
}



.keywordCard {
    border-radius: 3.125rem;
    width: 4.375rem;
    height: 1.875rem;
    display: inline-flex;
    background-color: #E9E0DD;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin-left: 0.125rem;
    margin-right: 0.313rem;

}


.keywordName {
    text-align: center;
    font-size: 0.875rem;
    color: #87746B;
    line-height: 40%;


}

.keywordUnName {
    width: 4.375rem;
    height: 1.875rem;
    font-weight: 600;
    border-radius: 3.125rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.313rem;
    background-color: #E9E0DD;

}


.keywordUnName:hover {
    /* hover시 색 진해지기 */
    width: 4.375rem;
    height: 1.875rem;
    font-weight: 600;
    border-radius: 3.125rem;
    background-color: #B9A49B;
    border: 0.063rem solid #B9A49B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.313rem;
    color: white;
}



.hobbyPrice {
    text-align: right;
    color: #655853;
    font-size: 0.75rem;


    font-weight: bold;
    font-style: italic;
    margin-right: 1.25rem;
}

.CategoryName {

    text-align: center;
    font-size: 0.875rem;
    color: #87746B;
    line-height: 40%;

}

.mainHobbyKeysTool {
    display: none;
    position: absolute;
    width: 18.75rem;
    height: 4.375rem;
    margin-right: 14.375rem;
    margin-top: 7rem;
    border-radius: 0.625rem;

}

.mainHobbyKeys {
    width: 4.375rem;
    height: 1.875rem;
    border-radius: 3.125rem;
    background-color: #E9E0DD;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.156rem;
    color: #87746B;
    font-size: 0.875rem;
    font-weight: normal
}



.mainHobbyKeysToolFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.keywordUnName:hover>.mainHobbyKeysTool {
    /* 기타 키워드 보이기 */
    display: block;
}