

.hobbyCard {
    padding: 1rem/* 24px */;
    margin-left: 1.25rem;
    margin-right: 0.625rem;
    text-align: center;
    border-radius: 3.125rem;
    display: inline-flex;
    flex-direction: column;
  
    border: 0.125rem solid #8FC4B3;
 
    width: 21.563rem;
    height: 22.813rem;
    justify-content: space-between;
    box-sizing: border-box;



   
    
   

}


.hobbyImage {
    border-radius: 3.125rem;
    height: 60%;
    
}

.hobbyTitle{
    margin-left: 0.625rem;
    color: #41A487;
    font-size: 1.125rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-style: italic;
}



.keywordCard{
    border-radius: 3.125rem;
    width:5rem;
    height: 1.875rem;
    display: inline-flex;
    background-color: #E9E0DD;
    flex-direction: column;
    justify-content: space-between;
    float:left;
    margin-left: 0.125rem;
    margin-right: 0.313rem;
    
}


.keywordName{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    color: #87746B;
    line-height: 40%;    
    margin: auto;
    
}

.keywordUnName{
    border-radius: 3.125rem;
    width: 1.719rem;
    height: 1.875rem;
    display: inline-flex;
    background-color: #E9E0DD;
    flex-direction: column;
    margin: auto;
   
}



.hobbyPrice{
    text-align: right;
    color: #655853;
    font-size: 0.75rem;
   
    
    font-weight: bold;
    font-style: italic;
    margin-right: 1.25rem;
}

.CategoryName{
    
    text-align: center;
    font-size: 0.875rem;
    color: #87746B;
    line-height: 40%;    
    
}

