.image {
    width: 12.5rem;
    height: 9.375rem;
    margin-left: 0.625rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
}




.titleframe {
    display: flex;
    margin-left: 1.25rem;

    .title {
        border-radius: 3.125rem;
        border: 0.125rem solid #8FC4B3;
        margin-left: 1.25rem;
        width: 80rem;
        height: 3.75rem;

    }

    .hobbytitle {
        font-size: 1rem;
        color: #655853;

    }

    .hobbytitleText {
        margin-left: 1.875rem;
        margin-top: 10.625rem;
        border: none;
        resize: none;
        font-size: 1.2em;
        outline: none;
        width: 62.5rem;
        height: 42.5rem;
    }

}

.mainIntroFrame {
    display: flex;
    margin-top: 1.25rem;
}



.intro {
    margin-top: 1.25rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
    width: 35.938rem;
    height: 21.875rem;
    resize: none;
    margin-left: 1.25rem;
}

.introin {
    margin: 1.875rem 1.875rem 1.875rem 1.875rem;
    border: none;
    resize: none;
    font-size: 1.2em;
    outline: none;
    width: 31.25rem;
    height: 18.75rem;
}


.imageframe {

    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
    width: 35.938rem;
    height: 21.875rem;
    margin-left: 6.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}


.introTitle {
    margin-left: 3.125rem;
    font-size: 1;
    color: #655853;

}


.dateframe {
    display: flex;

    .dateTitle {
        margin-top: 1.875rem;
    }

    .enddateTitle {
        margin-top: 1.875rem;
        margin-left: 1.25rem;
    }

    .date {
        margin-top: 1.25rem;
        border-radius: 3.125rem;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 1.25rem;

    }
}










.localframe {
    display: flex;
    margin-top: 1.25rem;

    .localName {
        margin-left: 1.25rem;
    }

    .local {
        border-radius: 3.125rem;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 1.438rem;
        border: 2px solid #8FC4B3;
    }

    .localDetail {
        border-radius: 3.125rem;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 2.5rem;
        border: 2px solid #8FC4B3;
    }

}

.textAll {
    border: none;
    margin: 1rem 1.25rem 1rem 1.25rem;
    resize: none;
    font-size: 1.125rem;
    outline: none;
    width: 32.5rem;
}



.timeframe {
    display: flex;
    margin-top: 1.25rem;

    .endTimeName {
        margin-left: 1.25rem;
    }

    .endTime {
        border-radius: 3.125rem;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 2.5rem;
    }

    .startTime {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 1.25rem;
    }

}


.labelCate {
    display: flexbox;
}

.MaxNumFrame {
    display: flex;
    margin-top: 1.25rem;
    margin-left: 1.25rem;

    .maxNum {
        margin-left: 1.25rem;
        border-radius: 3.125rem;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
    }

    .maxPrice {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 4.375rem;
    }

    .priceName {
        margin-left: 1.25rem;
    }

}

.categoryFrame {
    display: flex;
    margin-bottom: 0.625rem;
    /* .categoryName {} */

    .categoryCheck {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
        margin-left: 3.75rem;
        margin-top: 1.25rem;
        position: relative;
        top: 0.313rem;
        right: 0.313rem;
        ;

    }

    .categoryCheck:checked {
        background: #096249;
        border: none;
    }

}

.keywordFrame {

    display: flex;

    .keyword {

        border-radius: 50px;
        border: 2px solid #8FC4B3;
        margin-left: 2.5rem;
        width: 80.625rem;
        height: auto;
    }



    .keywordCheck {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
        margin-left: 1.875rem;


        position: relative;
        top: 0.313rem;
        right: 0.313rem;
        ;
    }

    .keywordCheck:checked {
        background: #096249;
        border: none;
    }

}


.tutorframe {
    display: flex;
    margin-top: 0.625rem;

    .tutor {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        margin-left: 1.25rem;
        width: 81.25rem;
        height: 3.625rem
    }

    .tutorInto {

        margin-left: 1.875rem;
        margin-top: 0.938rem;
        border: none;
        resize: none;
        font-size: 1.2em;
        outline: none;
        width: 75rem;

    }
}

.buttonFrame {

    display: flex;
    float: right;
    margin-top: 1.25rem;
    justify-content: center;


    .createBtn {
        border-radius: 50px;
        background-color: #8FC4B3;
        width: 9.375rem;
        height: 4.688rem;
        color: #096249;

        justify-content: center;
        align-items: center;
        border: none;
        font-size: 20px;
        font-weight: bold;
        text-decoration-line: none;
    }


    .cancelBtn {
        border-radius: 50px;
        background-color: #CCE2DB;
        width: 9.375rem;
        height: 4.688rem;
        color: #41A487;
        justify-content: center;
        align-items: center;
        border: none;
        text-decoration-line: none;
        font-size: 20px;
        font-weight: bold;

    }
}



/*
활성화 버튼 */

.buttonOn {
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    color: #096249;
    background-color: #8FC4B3;
    border-color: #8FC4B3;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOn:hover {
    background-color: #CCE2DB;
    border: none;
    transition: 0.7s;
}

.buttonOn:active {
    background-color: #8FC4B3;
}


/*
비활성화 버튼*/

.buttonOff {
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 50px;
    color: #41A487;
    background-color: #CCE2DB;
    border-color: #CCE2DB;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOff:hover {
    background-color: #8FC4B3;
    border: none;
    transition: 0.7s;
}

.buttonOff:active {
    background-color: #CCE2DB;
}


/*
게시글 작성 버튼*/

.writeButton {
    width: 15.625rem;
    height: 4.688rem;
    border-radius: 50px;
    color: #41A487;
    background-color: white;
    border: 2px solid #41A487;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.writeButton:hover {
    background-color: #CCE2DB;
    border: 2px solid #CCE2DB;
    transition: 0.7s;
}

.writeButton:active {
    background-color: #8FC4B3;
}

.mar {
    margin-left: 0.938rem;
}



.btnframe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 0.625rem;
    margin-left: 1.875rem;
    margin-bottom: 2.5rem;
}