.image {
    width: 12.5rem;
    height: 9.375rem;
    margin-left: 0.625rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
}




.titleframe {
    display: flex;
    margin-left: 1.25rem;
    .title {
        border-radius: 3.125rem;
        border: 0.125rem solid #8FC4B3;
        margin-left: 1.25rem;
        width: 80rem;
        height: 3.75rem;
       
    }

    .hobbytitle {
        font-size: 1rem;
        color: #655853;

    }

    .hobbytitleText {
        margin-left: 1.875rem;
        margin-top: 10px;
        border: none;
        resize: none;
        font-size: 1.2em;
        outline: none;
        width: 62.5rem;
        height: 40px;
    }

}

.mainIntroFrame {
    display: flex;
    margin-top: 1.25rem;
}



.intro {
    margin-top: 1.25rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
    width: 35.938rem;
    height: 21.875rem;
    resize: none;
    margin-left: 1.25rem;
}

.introin {
    margin: 1.875rem 1.875rem 1.875rem 1.875rem;
    border: none;
    resize: none;
    font-size: 1.2em;
    outline: none;
    width: 500px;
    height: 300px;
}


.imageframe {

    border-radius: 3.125rem;
    border: 0.125rem solid #8FC4B3;
    width: 35.938rem;
    height: 21.875rem;
    margin-left: 6.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}


.introTitle {
    margin-left: 3.125rem;
    font-size: 1;
    color: #655853;

}


.dateframe {
    display: flex;

    .dateTitle {
        margin-top: 1.875rem;
    }

    .enddateTitle {
        margin-top: 1.875rem;
        margin-left: 1.25rem;
    }

    .date {
        margin-top: 1.25rem;
        border-radius: 3.125rem;
        border: 2px solid #8FC4B3;
        width: 35.938rem;
        height: 3.125rem;
        margin-left: 1.25rem;

    }
}










.localframe {
    display: flex;
    margin-top: 20px;

    .localName {
        margin-left: 20px;
    }

    .local {
        border-radius: 50px;
        width: 575px;
        height: 50px;
        margin-left: 23px;
        border: 2px solid #8FC4B3;
    }

    .localDetail {
        border-radius: 50px;
        width: 575px;
        height: 50px;
        margin-left: 40px;
        border: 2px solid #8FC4B3;
    }

}

.textAll {
    border: none;
    margin: 16px 20px 16px 20px;
    resize: none;
    font-size: 18px;
    outline: none;
    width: 520px;
}



.timeframe {
    display: flex;
    margin-top: 20px;

    .endTimeName {
        margin-left: 20px;
    }

    .endTime {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 575px;
        height: 50px;
        margin-left: 40px;
    }

    .startTime {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 575px;
        height: 50px;
        margin-left: 20px;
    }

}


.labelCate {
    display: flexbox;
}

.MaxNumFrame {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;

    .maxNum {
        margin-left: 20px;
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 575px;
        height: 50px;
    }

    .maxPrice {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        width: 575px;
        height: 50px;
        margin-left: 70px;
    }

    .priceName {
        margin-left: 20px;
    }

}

.categoryFrame {
    display: flex;
    margin-bottom: 10px;
    /* .categoryName {} */

    .categoryCheck {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
        margin-left: 60px;
        margin-top: 20px;
        position: relative;
        top: 5px;
        right: 5px;
        ;

    }

    .categoryCheck:checked {
        background: #096249;
        border: none;
    }

}

.keywordFrame {

    display: flex;

    .keyword {

        border-radius: 50px;
        border: 2px solid #8FC4B3;
        margin-left: 40px;
        width: 1290px;
        height: auto;
    }



    .keywordCheck {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
        margin-left: 30px;


        position: relative;
        top: 5px;
        right: 5px;
        ;
    }

    .keywordCheck:checked {
        background: #096249;
        border: none;
    }

}


.tutorframe {
    display: flex;
    margin-top: 10px;
    .tutor {
        border-radius: 50px;
        border: 2px solid #8FC4B3;
        margin-left: 20px;
        width: 1300px;
        height: 58px
    }

    .tutorInto {

        margin-left: 30px;
        margin-top: 15px;
        border: none;
        resize: none;
        font-size: 1.2em;
        outline: none;
        width: 1200px;

    }
}

.buttonFrame{

    display: flex;
    float: right;
    margin-top: 20px;
    width: 800px;
    justify-content: center;

    .createBtn{
        border-radius: 50px;
        background-color: #8FC4B3;
        width: 150px;
        height: 75px;
        color: #096249;
        
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 20px;
        font-weight: bold;
        text-decoration-line: none;
    }


    .cancelBtn{
        border-radius: 50px;
        background-color: #CCE2DB;
        width: 150px;
        height: 75px;
        color: #41A487;
        justify-content: center;
        align-items: center;
        border: none;
        text-decoration-line: none;
        font-size: 20px;
        font-weight: bold;
        
    }
}



/*
활성화 버튼 */

.buttonOn {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    color: #096249;
    background-color: #8FC4B3;
    border-color: #8FC4B3;
    font-size: 20px;
    font-weight: bold;
 display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOn:hover {
    background-color:#CCE2DB;
    border: none;
    transition: 0.7s;
}

.buttonOn:active {
    background-color: #8FC4B3;
}


/*
비활성화 버튼*/

.buttonOff {
    width: 150px;
    height: 75px;
    border-radius: 50px;
    color: #41A487;
    background-color: #CCE2DB;
    border-color: #CCE2DB;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOff:hover {
    background-color:#8FC4B3;
    border: none;
    transition: 0.7s;
}

.buttonOff:active {
    background-color: #CCE2DB;
}


/*
게시글 작성 버튼*/

.writeButton {
    width: 250px;
    height: 75px;
    border-radius: 50px;
    color: #41A487;
    background-color: white;
    border: 2px solid #41A487;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.writeButton:hover {
    background-color:#CCE2DB;
    border: 2px solid #CCE2DB;
    transition: 0.7s;
}

.writeButton:active {
    background-color: #8FC4B3;
}

.mar {
    margin-left: 15px;
}



.btnframe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
}