/*
활성화 버튼 */

.buttonOn {
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    color: #096249;
    background-color: #8FC4B3;
    border-color: #8FC4B3;
    font-size: 1.25rem;
    font-weight: bold;
   display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOn:hover {
    background-color:#CCE2DB;
    border: none;
    transition: 0.7s;
}

.buttonOn:active {
    background-color: #8FC4B3;
}


/*
비활성화 버튼*/

.buttonOff {
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    color: #41A487;
    background-color: #CCE2DB;
    border-color: #CCE2DB;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOff:hover {
    background-color:#8FC4B3;
    border: none;
    transition: 0.7s;
}

.buttonOff:active {
    background-color: #CCE2DB;
}


/*
게시글 작성 버튼*/

.writeButton {
    width: 15.625rem;
    height: 4.688;
    border-radius: 50px;
    color: #41A487;
    background-color: white;
    border: 2px solid #41A487;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.writeButton:hover {
    background-color:#CCE2DB;
    border: 2px solid #CCE2DB;
    transition: 0.7s;
}

.writeButton:active {
    background-color: #8FC4B3;
}

.mar {
    margin-left: 0.938rem;
}



.btnframe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 0.625rem;
    margin-left: 1.875rem;
    margin-bottom: 2.5rem;
}