.layout {
    width: 68.75rem;
    margin: auto;
    color: #655853;
    margin-top: 3.75rem;

}

*/ .write-header1 {
    border-bottom: 0.125rem dotted #B9A49B;
    font-size: 1.875rem;
    color: #655853;
    width: 75rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}






.write-col1 {
    color: #655853;
    width: 68.75rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
}

.write-text1 {
    color: #655853;
    font-weight: bold;
    border: 0.125rem solid #8FC4B3;
    border-radius: 3.125rem;
    width: 62.5rem;
    height: 3.125rem;
    margin-left: 0.938rem;
    font-size: 1.0rem;
}


.text-box {
    color: #655853;
    margin: 0.938rem 1.875rem 1.875rem 0.938rem;
    border: none;
    resize: none;
    font-size: 1.0rem;
    outline: none;
    width: 58.125rem;
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
}


.write-col2 {
    font-size: 1.125rem;
    color: #655853;
    font-weight: bold;
    width: 68.75rem;
    margin-top: 1.875rem;
}

.flexsty {
    display: flex;
}


.write-content {
    margin-top: 1.875rem;
}


.write-text2 {
    border: 0.125rem solid #8FC4B3;
    border-radius: 3.125rem;
    width: 62.5rem;
    height: 25rem;
    margin-left: 0.938rem;
    margin-top: 0.938rem;
    font-size: 0.9em;
}


.text-box2 {
    color: #655853;
    font-weight: bold;
    margin: 1.875rem 1.875rem 1.875rem 1.875rem;
    border: none;
    resize: none;
    font-size: 0.9em;
    outline: none;
    width: 58.125rem;
    height: 21.875rem;
}


.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;

}

.write-button {
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #8FC4B3;
    border: 0.063rem;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;
    margin-left: 1.875rem;
}

.cancel-button {
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #CCE2DB;
    border: 0.063rem;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;
}

.question-button {
    display: flex;
    justify-content: flex-end;
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #CCE2DB;
    border: 0.063rem;
    border-right: 0.063rem solid #096249;
    border-radius: 3.125rem;
    width: 8.125rem;
    height: 5rem;


}

.delSet-button {
    margin-left: 70%;

}

.delete-button {
    margin-top: 1.25rem;
    margin: 0.625rem;
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #CCE2DB;
    border: 0.063rem;
    border-right: 0.063rem solid #096249;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;

}

.update-button {
    margin-top: 1.25rem;
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #8FC4B3;
    border: 0.063rem;
    border-right: 0.063rem solid #096249;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;
}