.layout {
    width: 75rem;
    border-spacing: 0rem 1.875rem;
    margin-top: 0.625rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

th {
    border: 0.125rem solid #B9A49B;
    width: 75rem;
    height: 3.75rem;
    color: #87746B;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 3.125rem;
}

td {
    border: 0.125rem solid #B9A49B;
    width: 75rem;
    height: 3.75rem;
    color: #87746B;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 3.125rem;
    /* white-space: nowrap; 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis;
}




layout>.table-wrapper tbody tr:hover {
    background-color: #E9E0DD;
}

.main-button-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 3.125rem;
}

.main-button {
    border: 0.125rem solid #41A487;
    border-radius: 3.125rem;
    color: #41A487;
    font-weight: bold;
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
}


.qnaButton {
    margin-left: 80%;

}

.questionButton {
    margin-top: 1.25rem;
    margin: 0.625rem;
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #CCE2DB;
    border: 0.063rem;
    border-right: 0.063rem solid #096249;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;
}