.layout {
    width: 75rem;
    border-spacing: 0rem 1.875rem;
    margin-top: 0.625rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.table-wrapper {
    width: 93.75rem;
    border-spacing: 0px 1.875rem;
    margin-top: 1.875rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.table-wrapper thead {

    font-weight: bold;
    color: #87746B;
    background: #fff;
    font-size: 1rem;


}


.table-wrapper table {
    border-collapse: separate;
    border-spacing: 0rem 1.875rem;
    width: 93.75rem;
    margin-right: auto;
    margin-left: auto;
}


.table-wrapper th {
    border: 0.125rem solid #B9A49B;
    width: 75rem;
    height: 3.75rem;
    color: #87746B;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 3.125rem;
}

.table-wrapper td {
    border: 0.125rem solid #B9A49B;
    width: 75rem;
    height: 3.75rem;
    color: #87746B;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 3.125rem;
    /* white-space: nowrap; 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-wrapper th:first-child {
    border-radius: 50px 0 0 50px;
    border-right: 0px;

}

.table-wrapper th:nth-child(2) {
    border-right: 0px;
    border-left: 0px;
    border-radius: 0 0 0 0;
}


.table-wrapper th:nth-child(3) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}

.table-wrapper th:nth-child(4) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0
}


.table-wrapper th:last-child {
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem;

}


.table-wrapper td:first-child {
    border-radius: 3.125rem 0 0 3.125rem;
    border-right: 0rem;
}

.table-wrapper td:nth-child(2) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.table-wrapper td:nth-child(3) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.table-wrapper td:nth-child(4) {
    border-right: 0rem;
    border-left: 0rem;
    border-radius: 0 0 0 0;
}

.table-wrapper td:last-child {
    border-radius: 0 3.125rem 3.125rem 0;
    border-left: 0rem;
}

layout>.table-wrapper tbody tr:hover {
    background-color: #E9E0DD;
}

.main-button-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 3.125rem;
}

.main-button {
    border: 0.125rem solid #41A487;
    border-radius: 3.125rem;
    color: #41A487;
    font-weight: bold;
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
}


.qnaButton {
    margin-left: 80%;

}

.questionButton {
    margin-top: 1.25rem;
    margin: 0.625rem;
    color: #096249;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #CCE2DB;
    border: 0.063rem;
    border-right: 0.063rem solid #096249;
    border-radius: 3.125rem;
    width: 7.5rem;
    height: 5rem;
}