/*
활성화 버튼 */

.buttonOn_so {
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    color: #096249;
    background-color: #8FC4B3;
    border-color: #8FC4B3;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOn_so:hover {
    background-color:#CCE2DB;
    border: none;
    transition: 0.7s;
}

.buttonOn_so:active {
    background-color: #8FC4B3;
}


/*
비활성화 버튼*/

.buttonOff_so {
    width: 9.375rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    color: #41A487;
    background-color: #CCE2DB;
    border-color: #CCE2DB;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration-line: none;
}

.buttonOff_so:hover {
    background-color:#8FC4B3;
    border: none;
    transition: 0.7s;
}

.buttonOff_so:active {
    background-color: #CCE2DB;
}


/*
게시글 작성 버튼*/

.writeButtonSocial {
    width: 15.625rem;
    height: 4.688rem;
    border-radius: 3.125rem;
    color: #41A487;
    background-color: white;
    border: 0.125rem solid #41A487;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.writeButtonSocial:hover {
    background-color:#CCE2DB;
    border: 0.125rem solid #CCE2DB;
    transition: 0.7s;
}

.writeButtonSocial:active {
    background-color: #8FC4B3;
}

.mar {
    margin-left: 0.938rem;
}

.marR30 {
    margin-right: 1.875rem;
}

.buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.marT30 {
    padding-top: 1.875rem;
}