.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.938rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    /* < , 1, 2, > */
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.063rem solid #8FC4B3;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 0.469rem;
    margin-right: 0.469rem;
}

ul.pagination li:first-child {
    /* << */
    border-radius: 0.625rem;
}

ul.pagination li:last-child {
    /* >> */
    border-radius: 0.625rem;
}

ul.pagination li a {
    /* 버튼 안에 텍스트 */
    text-decoration: none;
    color: #41A487;
    font-size: 1.125rem;
    font-style: normal;
}

ul.pagination li.active a {
    /* 선택된 애 텍스트 색상 */
    color: #096249;
}

ul.pagination li.active {
    /* 선택된 애 배경 색상 */
    background-color: #CCE2DB;
    border: none;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    /* hover시 텍스트 색상 */
    color: #096249;
}

.page-selection {
    width: 2.5rem;
    height: 2.5rem;
    color: #096249;
}