.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3.125rem;
    width: 37.5rem;
    background: #fff;
    padding-bottom: 1.875rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.563rem;
    width: 100%;
    margin-top: 1.875rem;
}

.text {
    color: #096249;
    font-size: 3rem;
    font-weight: 700;
}

.underline {
    width: 3.813rem;
    height: 0.375rem;
    background: #096249;
    border-radius: 0.563rem;
}

.inputs {
    margin-top: 3.438rem;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 30rem;
    height: 4.063rem;
    background: #eaeaee;
    border-radius: 0.375rem;
}

.input img {
    margin: 0rem 1.25rem;
}

.submit-container {
    display: flex;
    gap: 1.875rem;
    margin: 2.5rem auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.75rem;
    height: 3.688rem;
    color: #fff;
    background: #096249;
    border-radius: 3.125rem;
    font-size: 1.188rem;
    font-weight: 700;
    cursor: pointer;

}

.gray {
    background: #EAEAEA;
    color: #676767;
}

.checkId {
    border: 0;
    outline: none;
    margin-right: 3%;
    width: 7.5rem;
    height: 1.875rem;
    background: #096249;
    color: #eaeaee;
    border-radius: 0.313rem;
    padding: auto;
    font-size: 0.813rem;
    font-weight: 700;
    cursor: pointer;

}

.checkId:hover {
    color: #676767;
    background: #096249;
}