.main{
    margin-left: 300px;
    display: "grid";
    text-align : center;
    justify-content: center;
   

}

.pagingFrame{
    display: block;
    
    
}
.paging{
display: flex;
    justify-content: center;
   margin-top: 10px;
    margin-left: 180px;
    
}



@media all and (min-width:10px) and (max-width:1920px) {
    .main{
        margin-left: 300px;
        display: "grid";
        text-align : center;
        justify-content: center;
       
    
    }
    
    .pagingFrame{
        display: block;
        
        
    }
    .paging{
    display: flex;
        justify-content: center;
       margin-top: 10px;
        margin-left: 90px;
        
    }
    

}