.toegeungillayout {
    width: 93.75rem;
    /* width: 80%; */
    margin: auto;
    padding-bottom: 9.375rem;
}

.layout2 {
    margin: 2.5rem 3.125rem 0px 3.125rem;
}

.menuFont {
    width: 93.75rem;
    height: 1.625rem;
    margin-top: 2.125rem;
    margin-bottom: 2.5rem;
    color: #87746B;
    font-style: italic;
    font-size: 1.625rem;
    font-weight: bold;
}

.hrSty {
    background-color: #87746B;
    height: 0.125rem;
}

.w1650h388 {
    width: 103.125rem;
    /* width: 80%; */
    height: 24.25rem;
    margin: auto;
}

.w1650h50 {
    width: 103.125rem;
    /* width: 80%; */
    height: 3.125rem;
    margin: auto;
}

.rightFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.headerFont {
    width: 6.875rem;
    height: 1.125rem;
    color: #B9A49B;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: right;
}

.navbarLayout {
    margin-top: 4.188rem;
    width: 103.125rem;
    height: 8.313rem;
    margin-bottom: 7.5rem;
}

.logo {
    width: 25rem;
    height: 8.313rem;
}

.navbarFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.searchBar {
    width: 23.75rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    border: 0.313rem solid #8FC4B3;
    background-color: white;
    /* margin-bottom: 2px; */
}

.navbarFont {
    width: 14.375rem;
    height: 1.875rem;
    color: #8FC4B3;
    text-align: center;
    font-style: italic;
    font-size: 1.625rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.mar50 {
    margin-right: 3.125rem;
}

.marB50 {
    margin-bottom: 3.125rem;
}

.searchicon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1.25rem
}

.searchFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchBox {
    margin-left: 1.25rem;
    width: 18.125rem;
    height: 1.75rem;
    font-size: 1.125rem;
    border: none;
    resize: none;
    outline: none;
    color: #128865;
}

.searchsum {
    border: none;
    resize: none;
    outline: none;
}

.navbarLine {
    text-decoration-line: none;
}

.navbarOn {
    width: 14.375rem;
    height: 1.875rem;
    color: #128865;
    text-align: center;
    font-style: italic;
    font-size: 1.625rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.headerOn {
    width: 6.875rem;
    height: 1.125rem;
    color: #655853;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: right;
}

.searchBorder {
    border: 0.063rem solid #87746B;
    width: 8.125rem;
    height: 3.75rem;
    text-align: center;
    border-radius: 1.25rem;
    background-color: white;
    color: #87746B;
    font-size: 1.125rem;
    font-weight: 600;
}

.searchBorder:hover {
    border: none;
    background-color: #B9A49B;
    color: white;
}

@media all and (max-width:1440px) {
    html {
        font-size: 13px;
    }
}